*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body{
    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;
}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
nav img{
    width: 150px;
}
nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 25px;
    margin-right: 50px;
    font-weight: 700;
}
nav ul li a:hover{
    font-size: large;
    font-weight: 900;
}
nav ul li{
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

main{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 350px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
}
form h1{
    text-align: center;
}
form div{
    display: flex;
    flex-direction: column;
}
form div label{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

form div textarea{
    resize: none;
    height: 100px;
    padding: 5px 10px;
    border: transparent;
    border-radius: 10px;
}

form button{
    border: transparent;
    background: #20BC7E;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}