*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-image: url(htmlbgc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    /* height: 15vh; */
}
.navbar img{
    margin: 0 20px;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: antiquewhite;
}
.upper{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    
}
.image{
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(89, 89, 217);
    margin: 30px;
    /* margin-top: 100px; */
    position: absolute;
    bottom: 200px;
    left: 150px;
    text-align: center;

}
.intro{
    text-align: center;
    margin-top: 40px;
    margin-left: 180px;

}
.intro h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}
.intro p{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    box-shadow: 0 0 20px black;
}
.skill{
    margin-top: 40px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 10px red;
    padding: 10px;
    margin-right: 400px;
    /* margin-right: -400px; */

}
.element{
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 10px black;

}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: -600px;
    gap: 50px;
}
.address{
    /* border: 1px solid black; */
    padding: 20px;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 400px;
    
}
.address h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    text-shadow: 0 0 20px black;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}